:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 63 217 174;
  --oui-color-primary-light: 77 255 184;
  --oui-color-primary-darken: 63 217 197;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 60 236 186;
  --oui-color-link-light: 68 167 127;

  --oui-color-secondary: 56 168 137;
  --oui-color-tertiary: 56 199 180;
  --oui-color-quaternary: 33 212 232;

  --oui-color-danger: 245 97 139;
  --oui-color-danger-light: 252 149 173;
  --oui-color-danger-darken: 201 63 95;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 41 233 169;
  --oui-color-success-light: 131 253 189;
  --oui-color-success-darken: 31 213 149;
  --oui-color-success-contrast: 0 0 0;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 223 109;
  --oui-color-warning-darken: 229 173 56;
  --oui-color-warning-contrast: 0 0 0;

  --oui-color-fill: 24 24 30;
  --oui-color-fill-active: 33 33 39;

  --oui-color-base-1: 50 50 60;
  --oui-color-base-2: 40 40 50;
  --oui-color-base-3: 30 30 40;
  --oui-color-base-4: 25 25 35;
  --oui-color-base-5: 20 20 30;
  --oui-color-base-6: 15 15 25;
  --oui-color-base-7: 35 35 45;
  --oui-color-base-8: 10 10 20;
  --oui-color-base-9: 5 5 15;
  --oui-color-base-10: 0 0 10;

  --oui-color-base-foreground: 0 128 0;
  --oui-color-line: 15 15 25;

  --oui-color-trading-loss: 245 97 139;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 41 233 169;
  --oui-color-trading-profit-contrast: 0 0 0;

  /* gradients */
  --oui-gradient-primary-start: 20 66 60;
  --oui-gradient-primary-end: 90 173 140;

  --oui-gradient-secondary-start: 10 46 50;
  --oui-gradient-secondary-end: 35 35 45;

  --oui-gradient-success-start: 31 213 149;
  --oui-gradient-success-end: 131 253 189;

  --oui-gradient-danger-start: 201 63 95;
  --oui-gradient-danger-end: 252 149 173;

  --oui-gradient-brand-start: 90 173 140;
  --oui-gradient-brand-end: 20 66 60;
  --oui-gradient-brand-stop-start: 8%;
  --oui-gradient-brand-stop-end: 88%;
  --oui-gradient-brand-angle: 18deg;

  --oui-gradient-warning-start: 229 173 56;
  --oui-gradient-warning-end: 255 223 109;

  --oui-gradient-neutral-start: 33 33 39;
  --oui-gradient-neutral-end: 24 24 30;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}